body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebe8df;
}

.navbar {
    background-color: #ebe8df;
    box-shadow: 10px 1px 6px 13px rgba(0, 0, 0, 0.5); /* Juster skyggen efter behov */
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px 1px;
}

.navbar-logo {
    max-width: 125px;
    margin-right: 10rem; /* Centrerer logoet vandret */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.navbar-menu li {
    position: relative;
}

.navbar-menu li a {
    position: relative;
    color: #333;
    text-decoration: none;
}

.navbar-menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #e94325 ;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: -1;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}


.banner-text .btn {
    display: inline-block;
    margin-bottom: 4.5rem;
    padding: 10px 70px;
    background-color:#e94325 ; /* Gør baggrund gennemsigtig */
    color: #ebe8df; /* Tekstfarve */
    text-decoration: none;
    font-style: bold;
    border: 2px solid #e94325; /* Tilføj en rød kant */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Tilføj transition for farveændring */
    cursor: pointer; /* Gør markøren til en hånd, når den er over knappen */
}

.banner-text .btn:hover {
    background-color: #DA2100; /* Baggrundsfarve ved hover */
    color: #fff; /* Ændre tekstfarve ved hover */
}


.img-text {
    font-size: small;
    text-align: center;
    overflow-wrap: break-word;
    margin: auto;
    width: 15%;      
}

.img-slider {
    padding: 2rem;
    position: relative;
}

.slider-wrapper {
    width: calc(60% - 50px);
    margin: 0 auto;
    overflow: hidden;
}

.img-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-container img {
    display: flex;
    width: calc(90% / 3);
    margin-right: 2%;
    margin-left: 2%;
    object-fit: cover;
    max-height: 550px;
}

.img-slider button {
    margin: 0;
    padding: 0;
    background-color: #e94325;
    border: none;
    outline: none;
    font-size: 30px;
    color: red;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #e94325;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
  }
   
  /* Position the "next button" to the right */
  .next {
    right: 15rem;
    border-radius: 1px 0 0 1px;
  }

  .prev {
    left: 15rem;
    border-radius: 1px 0 0 1px;
  }
  
   
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
  }

.img-title{
text-align: center;
margin-top: 3rem;
font-size: 30px;

}

#infog{
display: block;
margin: 10rem auto;
width: 50%;
margin-bottom: 35px;
}
.container {
    display: flex;
    justify-content: space-around;
    
}

.image,
.content {
    flex: 1;
    text-align: center;
}

.image img {
    margin-left: 15rem;
    max-width: 35%;
    height: auto;
}

.content h2 {
    max-width: 28rem;
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    max-width: 28rem;
    margin-bottom: 3rem;
    font-size: 16px;
    line-height: 1.5;
}



.divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    margin-top: 50px; /* Juster efter behov */
    margin-bottom: 50px; /* Juster efter behov */
}

#overskrift3{
text-align: center;


}
.recipe-section {
    text-align: center;
    margin-bottom: 50px; /* Juster efter behov */
}

.recipe-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.recipe-gallery {
    display: flex;
    justify-content: space-evenly;
}

.recipe-item {
    margin: 20px 1px;
    margin-bottom: 100px;
    position: relative; /* Gør elementet relativt positioneret */
}

.recipe-item img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}



.recipe-item button {
    position: absolute; /* Gør knappen absolut positioneret */
    bottom: -60px; /* Juster denne værdi for at placere knappen under billedet */
    left: 50%; /* Placer knappen i midten af elementet */
    transform: translateX(-50%); /* Centrer knappen vandret */
    padding: 8px 40px;
    background-color: transparent;
    border: #e94325 solid;
    color:#e94325 ;
    font-weight: bold;
    border-style: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Forhindrer linjeskift */
}

.recipe-item button:hover {
    background-color: #e94325;
    color: #fff;
}

