body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebe8df;
}

.navbar {
    background-color: #ebe8df;
    box-shadow: 10px 1px 6px 13px rgba(0, 0, 0, 0.5); /* Juster skyggen efter behov */
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px 1px;
}

.navbar-logo {
    max-width: 125px;
    margin-right: 10rem; /* Centrerer logoet vandret */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.navbar-menu li {
    position: relative;
}

.navbar-menu li a {
    position: relative;
    color: #333;
    text-decoration: none;
}

.navbar-menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #e94325 ;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 630px;
    overflow: hidden;
    z-index: -1;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}
#Bannertitle{
text-align: center;
font-weight: bold;
font-size: 30px;
}



.banner-text .btn {
    display: inline-block;
    margin-bottom: 4.5rem;
    padding: 10px 70px;
    background-color:#e94325 ; /* Gør baggrund gennemsigtig */
    color: #ebe8df; /* Tekstfarve */
    text-decoration: none;
    font-style: bold;
    border: 2px solid #e94325; /* Tilføj en rød kant */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Tilføj transition for farveændring */
    cursor: pointer; /* Gør markøren til en hånd, når den er over knappen */
}

.banner-text .btn:hover {
    background-color: #DA2100; /* Baggrundsfarve ved hover */
    color: #fff; /* Ændre tekstfarve ved hover */
}


.img-text {
    font-size: small;
    text-align: center;
    overflow-wrap: break-word;
    margin: auto;
    width: 15%;      
}

.img-slider {
    padding: 2rem;
    position: relative;
}

.slider-wrapper {
    width: calc(60% - 50px);
    margin: 0 auto;
    overflow: hidden;
}

.img-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-container img {
    display: flex;
    width: calc(90% / 3);
    margin-right: 2%;
    margin-left: 2%;
    object-fit: cover;
    max-height: 550px;
}

.img-slider button {
    margin: 0;
    padding: 0;
    background-color: #e94325;
    border: none;
    outline: none;
    font-size: 30px;
    color: red;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #e94325;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
  }
   
  /* Position the "next button" to the right */
  .next {
    right: 15rem;
    border-radius: 1px 0 0 1px;
  }

  .prev {
    left: 15rem;
    border-radius: 1px 0 0 1px;
  }
  #img-link {
    display: inline-block;
    
    padding: 10px 50px;
    text-decoration: none;
    background-color: transparent;
    border: #e94325 solid;
    color:#e94325 ;
    font-weight: bold;
    border-style: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#img-link:hover {
    background-color: #e94325;
    color: #fff;
}
   
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
  }

.img-title{
text-align: center;
margin-top: 3rem;
font-size: 30px;

}

#infog{
display: block;
margin: 10rem auto;
width: 50%;
margin-bottom: 50px;
}
.container {
    display: flex;
    justify-content: space-around;
    
}

.image,
.content {
    flex: 1;
    text-align: center;
}

.image img {
    margin-left: 15rem;
    max-width: 35%;
    height: auto;
}

.content h2 {
    max-width: 28rem;
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    max-width: 28rem;
    margin-bottom: 3rem;
    font-size: 16px;
    line-height: 1.5;
}



.divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    margin-top: 50px; /* Juster efter behov */
    margin-bottom: 50px; /* Juster efter behov */
}

#overskrift3{
text-align: center;


}
.recipe-section {
    text-align: center;
    margin-bottom: 120px; /* Juster efter behov */
}

.recipe-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.recipe-gallery {
    display: flex;
    justify-content: space-evenly;
}

.recipe-item {
    margin: 20px 1px;
    margin-bottom: 100px;
    position: relative; /* Gør elementet relativt positioneret */
}

.recipe-item img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.recipe-item button {
    position: absolute; /* Gør knappen absolut positioneret */
    bottom: -60px; /* Juster denne værdi for at placere knappen under billedet */
    left: 50%; /* Placer knappen i midten af elementet */
    transform: translateX(-50%); /* Centrer knappen vandret */
    padding: 8px 40px;
    background-color: transparent;
    border: #e94325 solid;
    color:#e94325 ;
    font-weight: bold;
    border-style: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Forhindrer linjeskift */
}

.recipe-item button:hover {
    background-color: #e94325;
    color: #fff;
}

.footer {
    background-color: #FFE5B3;
    color: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact, .socials {
    flex: 1;
}

.socials{
margin-left: 4rem;
}

.contact h3, .socials h3 {
    margin-bottom: 10px;
}

.contact{
margin-left:5rem;


}
.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 5px;
}

.logo {
    flex: 1;
    text-align: center;
    margin-right: 2rem;
}

.logo img {
    max-width: 150px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/*wrap*/
.ko-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /*content*/
  .ko-container {
    max-width: 60%;
    margin: 6rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    height: 45rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  
  .ko-form-box {
    flex: 1;
    padding: 20px;
    max-width: 100%; 
    margin-bottom: 1rem;
    color: black;
  }
  
  .ko-form-box h2 {
    margin-bottom: 1rem;
  }
  
  .ko-form-box p {
    margin-bottom: 1rem;
  }
  
  .ko-form-box a {
    color: black;
  }
  
  .ko-form-group input{
    width: 100%;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px; 
    background-color: #EBE8DF;
    height: 2.5rem; 
  }
  .ko-form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px; 
    height: 6rem; 
    resize: none;
    background-color: #EBE8DF;
  }
  
  .ko-form-group button {
    display: inline-block;
    margin-bottom: 4.5rem;
    padding: 10px 70px;
    background-color:#e94325 ; /* Gør baggrund gennemsigtig */
    color: #ebe8df; /* Tekstfarve */
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #e94325; /* Tilføj en rød kant */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Tilføj transition for farveændring */
    cursor: pointer; /* Gør markøren til en hånd, når den er over knappen */
  }
  
  .ko-form-group button:hover{
    background-color: #DA2100; /* Baggrundsfarve ved hover */
    color: #fff; /* Ændre tekstfarve ved hover */


  }
  
  .ko-image-box-kontakt img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 15px; 
    border: #000 solid 3px;
    border-radius: 10px;
  }
  
  .fill-fields-text {
    display: none;
    color: red;
    font-weight: bold; /* Gør teksten fed */
}
.confirmation-text{
    font-weight: bold;
}

/* Kontakt side start */

.kontakt-overskrift {
    text-align: center;
    font-weight: bold;
  }
  
  .faq-top-tekst {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  justify-content: space-around;
  }
  
  .oftestillesporsmaal h2 {
    text-align: center;
  }
  
  .faq-top-tekst li {
    color: #e94325;
    margin-left: -2rem;
  }
  
  .faq-top-tekst p {
    color: black;
  }
  
  .kontakt-gaa-til-faq-knap {
    background-color: #e94325;
    text-align: center;
    max-width: 100px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .kontakt-gaa-til-faq-knap a {
    color: white;
    text-decoration: none;
    max-width: 100px;
    }
  
    .kontakt-gaa-til-faq {
      display: block;
      margin: 0 auto;
      padding: 10px 50px;
      background-color: #e94325;
      color: #ebe8df;
      text-decoration: none;
      border-radius: 5px;
      max-width: 80px;
      font-weight: bold;
  }
  
  .kontakt-gaa-til-faq:hover {
    background-color: #da2100;
    color: white;
  }
  
  /* Kontakt side slut */
